/* styles/Home.module.css */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card {
    background-color: #fff; 
    border: 1px solid #ddd; 
    width: 100%; /* Deixe o card ocupar 100% da coluna */
    max-width: 300px; /* Limite máximo de 300px */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    white-space: normal;
    margin: 20px;
  }